@import '../../../styles/variables.scss';

.ButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $xxs;

  padding: $xxs $xs;

  font-size: $sm;
  border-radius: $radius;

  transition: 0.15s;
}

.primary {
  color: $blue50;

  border: none;
  background-color: $blue500;

  &:hover {
    transform: scale(105%);
    filter: brightness(110%);
  }
}

.secondary {
  color: $slate800;

  border: none;
  background-color: $blue50;

  &:hover {
    transform: scale(105%);
    filter: brightness(110%);
  }
}
