@import '../../../../styles/variables.scss';

.TechnologieWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $xs;

  padding: $xxxs $xxs;

  color: $sky50;
  font-size: $sm;
  font-weight: 600;
  white-space: nowrap;

  border-radius: $radius;

  cursor: pointer;

  &.NextJS {
    color: $zinc900;
    background-color: $sky50;
  }

  &.ReactJS {
    background-color: $blue500;
  }

  &.Sass {
    background-color: $pink500;
  }

  &.TypeScript {
    background-color: $blue500;
  }

  &.JavaScript {
    color: $zinc900;
    background-color: $yellow500;
  }

  &.RadixUI {
    background-color: $purple500;
  }

  &.TailwindCSS {
    background-color: $blue500;
  }

  &.Flutter {
    color: $sky50;
    background-color: $flutter;
  }

  &.Styled-Components {
    color: $zinc900;
    background-color: $yellow500;
  }

  &.Storybook {
    background-color: $pink500;
  }
}
