@import '../../../../styles/variables.scss';

.Wrapper {
  display: flex;
  align-items: center;
  gap: $xs;

  padding: $xs;
  
  color: $blue50;
  font-size: $sm;
  font-weight: 600;
  
  border-radius: $radius;
  background-color: $slate900;
}