@import '../../../../styles/variables.scss';

.WrapperDark,
.WrapperWhite {
  display: flex;
  align-items: center;
  gap: $xs;

  padding: $xs;

  font-size: $sm;
  font-weight: 600;

  border-radius: $radius;

  cursor: default;
}

.WrapperDark {
  color: $blue50;
  background-color: $slate900;
}

.WrapperWhite {
  color: $blue500;
  background-color: $blue100;
}
