// Sizes
$xxxs: 0.375rem; // 6px
$xxs: 0.5rem; // 8px
$xs: 0.75rem; // 12px
$sm: 0.875rem; // 14px
$base: 1rem; // 16px
$lg: 1.125rem; // 18px
$xl: 1.25rem; // 20px
$xxl: 1.5rem; // 24px
$xxxl: 1.875rem; // 30px
$uxl: 3rem; // 48px

// Radius
$radius: 8px;

// Colors
$slate50: #f0f9ff;
$slate100: #f1f5f9;
$slate200: #e2e8f0;
$slate300: #cbd5e1;
$slate400: #94a3b8;
$slate500: #64748b;
$slate600: #475569;
$slate700: #334155;
$slate800: #1e293b;
$slate900: #0f172a;

$sky50: #f0f9ff;
$sky100: #e0f2fe;
$sky200: #bae6fd;
$sky300: #7dd3fc;
$sky400: #38bdf8;
$sky500: #0ea5e9;
$sky600: #0284c7;
$sky700: #0369a1;
$sky800: #075985;
$sky900: #0c4a6e;

$blue50: #eff6ff;
$blue100: #dbeafe;
$blue200: #bfdbfe;
$blue300: #93c5fd;
$blue400: #60a5fa;
$blue500: #3b82f6;
$blue600: #2563eb;
$blue700: #1d4ed8;
$blue800: #1e40af;
$blue900: #1e3a8a;

$zinc900: #171717;

$yellow500: #fde047ff;
$yellow600: #fbbf24ff;

$purple100: #ede9feff;
$purple200: #e5dbff;
$purple500: #9775fa;
$purple600: #845ef7;
$purple700: #7950f2;

$red100: #fef2f2ff;
$red200: #ffe3e3;
$red500: #ff8787;
$red600: #ff6b6b;
$red700: #fa5252;

$orange500: #f97316;

$gray100: #f5f5f4ff;
$gray600: #292524ff;

$pink500: #ec4899ff;

$green100: #dcfce7;
$green200: #c3fae8;
$green500: #20c997;
$green700: #12b886;
