@import '../../../../styles/variables.scss';

.CallToProjectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $xxxl;

  padding: 7rem 0;

  .SpanAndParagraphDiv {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: $xs;

    span {
      max-width: 37.5rem;

      color: $sky50;
      font-size: $uxl;
      font-weight: bold;
      text-align: center;
    }

    p {
      color: $slate400;
      text-align: center;
    }
  }
  .ButtonsDiv {
    display: flex;
    align-items: center;
    gap: $xl;

    a {
      text-decoration: none;
    }

    .ModalTriggerButton {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $xxs;

      padding: $xxs $xs;

      font-size: $sm;
      border-radius: $radius;

      transition: 0.15s;

      color: $slate800;

      border: none;
      background-color: $blue50;

      &:hover {
        transform: scale(105%);
        filter: brightness(110%);
      }
    }
  }
}
