@import '../../../../styles/variables.scss';

.ResumeeContentSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: $uxl;

  padding: 8rem 0;

  .ResumeeContentWrapper {
    display: flex;
    align-items: center;
    gap: $xxxl;

    max-width: 50rem;

    .ResumeeTextAndButtons {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      margin: 0 auto;

      gap: $xxl;

      .ResumeeParagraph {
        color: $slate600;
        font-size: $base;
        font-weight: 400;

        .HelloSpan {
          font-size: $xl;
          color: $slate700;
        }
      }

      .CVAndSocialLinks {
        display: flex;
        align-items: center;
        gap: $base;

        a {
          text-decoration: none;
        }

        .SocialButtonsDiv {
          display: flex;
          gap: $base;
        }
      }
    }
  }
}

@media (max-width: 615px) {
  .ResumeeContentSection {
    padding: $uxl $xxl;
    .ResumeeContentWrapper {
      flex-direction: column;

      .ResumeeTextAndButtons {
        align-items: center;
      }
    }
  }
}
