@import '../../../styles/variables.scss';

.popoverButton {
  position: fixed;
  right: $sm;
  bottom: $sm;

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $sm;

  padding: $xxs;

  color: $blue50;

  border: none;
  background-color: $blue500;
  border-radius: 500px;
  overflow: hidden;

  transition: 0.2s;

  &:hover {
    transform: scale(110%);
    filter: brightness(110%);
  }
}
